@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Grenze+Gotisch:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Prevents the fixed navbar from covering section titles */
  }
  
  body {
    background-color: #0a0a0a;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .font-grenze {
    font-family: 'Grenze Gotisch';
  }